<a href="https://colab.research.google.com/github/Yusuf5001/DA-with-Python/blob/main/Assignment2_Updated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>


____

In [26]:
import pandas as pd
import numpy as np

In [5]:
ecom = pd.read_csv("/content/sample_data/data.csv",encoding= 'unicode_escape')

**Check the head of the DataFrame.**

In [6]:
ecom.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

** How many rows and columns are there? **

In [7]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

** Show the statistical measurements of ecom dataset **

In [8]:
ecom.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

** What is the average Purchase Price? **

In [9]:
ecom.UnitPrice.mean()

4.611113626083471

** What were the highest and lowest purchase prices? **

In [10]:
ecom.UnitPrice.max()

38970.0

In [11]:
ecom.UnitPrice.min()

-11062.06

** List the country names and number of records belongs to each country **

In [12]:
ecom.Country.value_counts()

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

** How many records are as Country United Kingdom? **

In [27]:
#ecom[ecom["Country"=="United Kingdom"]].count()

** Create a column named Total which shows the total amount of spend using UnitPrice and Quantity ? **

In [19]:
ecom["Total"]= ecom["UnitPrice"]*ecom.Quantity
ecom.Total

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: Total, Length: 541909, dtype: float64

** Show total spending amount according to the Countries **

In [22]:
ecom.groupby("Country")["Total"].sum()

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
Name: Total, dtype: float64

** Which Country spend least? **

In [24]:
ecom.groupby("Country")["Total"].sum().sort_values(ascending=True)[:1]

Country
Saudi Arabia    131.17
Name: Total, dtype: float64

** Calculate average of spending according to country with apply function? **

In [28]:
ecom.groupby("Country")["Total"].apply(np.mean)

Country
Australia               108.877895
Austria                  25.322494
Bahrain                  28.863158
Belgium                  19.773301
Brazil                   35.737500
Canada                   24.280662
Channel Islands          26.499063
Cyprus                   20.813971
Czech Republic           23.590667
Denmark                  48.247147
EIRE                     32.122599
European Community       21.176230
Finland                  32.124806
France                   23.069288
Germany                  23.348943
Greece                   32.263836
Hong Kong                35.128611
Iceland                  23.681319
Israel                   26.625657
Italy                    21.034259
Japan                    98.716816
Lebanon                  37.641778
Lithuania                47.458857
Malta                    19.728110
Netherlands             120.059696
Norway                   32.378877
Poland                   21.152903
Portugal                 19.333127
RSA                      17.281207
Saudi Arabia             13.117000
Singapore                39.827031
Spain                    21.624390
Sweden                   79.211926
Switzerland              28.164510
USA                       5.948179
United Arab Emirates     27.974706
United Kingdom           16.525065
Unspecified              10.649753
Name: Total, dtype: float64

** Calculate average,min,max of spending according to country with agg function? **

In [31]:
ecom.groupby("Country")["Total"].aggregate({"mean", "min", "max"})

                            mean        max        min
Country
Australia             108.877895    1718.40    -425.00
Austria                25.322494     360.00     -21.25
Bahrain                28.863158     205.74    -205.74
Belgium                19.773301     165.00     -19.95
Brazil                 35.737500     175.20      15.00
Canada                 24.280662     550.94       2.50
Channel Islands        26.499063     408.00    -293.00
Cyprus                 20.813971     320.69    -320.69
Czech Republic         23.590667      70.80     -35.76
Denmark                48.247147     428.40     -59.80
EIRE                   32.122599    2365.20   -1917.00
European Community     21.176230      60.00      -8.50
Finland                32.124806     551.20     -80.00
France                 23.069288    4161.06   -8322.12
Germany                23.348943     876.00    -599.50
Greece                 32.263836     175.20     -50.00
Hong Kong              35.128611    2653.95   -2653.95
Iceland                23.681319     249.60       5.04
Israel                 26.625657     350.40    -136.00
Italy                  21.034259     300.00     -89.55
Japan                  98.716816    3794.40   -1591.20
Lebanon                37.641778     153.00      10.20
Lithuania              47.458857     122.40      13.20
Malta                  19.728110     455.00    -130.00
Netherlands           120.059696    4992.00    -266.40
Norway                 32.378877     700.00    -376.50
Poland                 21.152903     120.00     -39.80
Portugal               19.333127    1241.98   -1241.98
RSA                    17.281207      38.25       0.00
Saudi Arabia           13.117000      19.80     -14.75
Singapore              39.827031    3949.32   -3949.32
Spain                  21.624390    1350.00   -1715.85
Sweden                 79.211926    1188.00   -1188.00
Switzerland            28.164510     360.00    -179.00
USA                     5.948179      81.36     -74.88
United Arab Emirates   27.974706     153.00       3.48
United Kingdom         16.525065  168469.60 -168469.60
Unspecified            10.649753      69.36       0.19

** What is the max Total spending in whole dataset and show the records of that spending ?**

In [37]:
ecom[ecom.Total == ecom.Total.max()]

       InvoiceNo StockCode  ...         Country     Total
540421    581483     23843  ...  United Kingdom  168469.6

[1 rows x 9 columns]

** How many people who live in Spain spend more than average Total ?**

In [42]:
ecom[(ecom.Total>ecom.Total.mean()) & (ecom.Country=="Spain")].count()

InvoiceNo      728
StockCode      728
Description    728
Quantity       728
InvoiceDate    728
UnitPrice      728
CustomerID     728
Country        728
Total          728
dtype: int64

** Convert datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2**

In [45]:
ecom["InvoiceDate2"]=pd.to_datetime(ecom.InvoiceDate)
ecom.InvoiceDate2.head()

0   2010-12-01 08:26:00
1   2010-12-01 08:26:00
2   2010-12-01 08:26:00
3   2010-12-01 08:26:00
4   2010-12-01 08:26:00
Name: InvoiceDate2, dtype: datetime64[ns]

** Take only date values (year-month-day) from InvoiceDate2 and assign it to a new column named date **

In [46]:
ecom.InvoiceDate2.dt.date

0         2010-12-01
1         2010-12-01
2         2010-12-01
3         2010-12-01
4         2010-12-01
             ...
541904    2011-12-09
541905    2011-12-09
541906    2011-12-09
541907    2011-12-09
541908    2011-12-09
Name: InvoiceDate2, Length: 541909, dtype: object

In [47]:
ecom["date"] = pd.to_datetime(ecom.InvoiceDate2.dt.date)

In [49]:
ecom.date

0        2010-12-01
1        2010-12-01
2        2010-12-01
3        2010-12-01
4        2010-12-01
            ...
541904   2011-12-09
541905   2011-12-09
541906   2011-12-09
541907   2011-12-09
541908   2011-12-09
Name: date, Length: 541909, dtype: datetime64[ns]

In [50]:
ecom.head()

  InvoiceNo StockCode  ...        InvoiceDate2       date
0    536365    85123A  ... 2010-12-01 08:26:00 2010-12-01
1    536365     71053  ... 2010-12-01 08:26:00 2010-12-01
2    536365    84406B  ... 2010-12-01 08:26:00 2010-12-01
3    536365    84029G  ... 2010-12-01 08:26:00 2010-12-01
4    536365    84029E  ... 2010-12-01 08:26:00 2010-12-01

[5 rows x 11 columns]

** drop InvoiceDate2 and InvoiceDate columns permanently **

In [54]:
#ecom.drop(columns=["InvoiceDate2", "InvoiceDate"], inplace=True)

In [55]:
ecom.head()

  InvoiceNo StockCode  ...  Total       date
0    536365    85123A  ...  15.30 2010-12-01
1    536365     71053  ...  20.34 2010-12-01
2    536365    84406B  ...  22.00 2010-12-01
3    536365    84029G  ...  20.34 2010-12-01
4    536365    84029E  ...  20.34 2010-12-01

[5 rows x 9 columns]

** Remove A, B, G and E from StockCode in first 5 rows of ecom dataframe with a string method **

In [56]:
ecom.StockCode[:5].str.replace("A", "").str.replace("B", "").str.replace("E", "").str.replace("G", "")

0    85123
1    71053
2    84406
3    84029
4    84029
Name: StockCode, dtype: object

In [58]:
ecom.StockCode[:5].str.extract("(\d+)", expand=False)

0    85123
1    71053
2    84406
3    84029
4    84029
Name: StockCode, dtype: object

** take only Total and date columns with loc and craete a new df named ecom2 **

In [62]:
ecom2 = ecom.loc[:, "Total":"date"]

** take only InvoiceNo, CustomerID and Total columns with iloc and craete a new df named ecom3 **

In [61]:
ecom3 = ecom.iloc[:, [0,5,7]]
ecom3.head()

  InvoiceNo  CustomerID  Total
0    536365     17850.0  15.30
1    536365     17850.0  20.34
2    536365     17850.0  22.00
3    536365     17850.0  20.34
4    536365     17850.0  20.34

** Combine ecom2 and ecom3 with concat **

In [64]:
pd.concat([ecom2,ecom3])

        Total       date InvoiceNo  CustomerID
0       15.30 2010-12-01       NaN         NaN
1       20.34 2010-12-01       NaN         NaN
2       22.00 2010-12-01       NaN         NaN
3       20.34 2010-12-01       NaN         NaN
4       20.34 2010-12-01       NaN         NaN
...       ...        ...       ...         ...
541904  10.20        NaT    581587     12680.0
541905  12.60        NaT    581587     12680.0
541906  16.60        NaT    581587     12680.0
541907  16.60        NaT    581587     12680.0
541908  14.85        NaT    581587     12680.0

[1083818 rows x 4 columns]

** Combine ecom2 and ecom3 with merge. If memory error occurs take only first 400 rows from both DFs.**

In [66]:
ecom_merge = pd.merge(ecom2.iloc[:400], ecom3.iloc[:400])
ecom_merge.head()

   Total       date InvoiceNo  CustomerID
0   15.3 2010-12-01    536365     17850.0
1   15.3 2010-12-01    536373     17850.0
2   15.3 2010-12-01    536373     17850.0
3   15.3 2010-12-01    536375     17850.0
4   15.3 2010-12-01    536375     17850.0

** Combine ecom2 and ecom3 with join (inner)**

In [67]:
ecom2.join(ecom3, lsuffix="_l", rsuffix="_r")

        Total_l       date InvoiceNo  CustomerID  Total_r
0         15.30 2010-12-01    536365     17850.0    15.30
1         20.34 2010-12-01    536365     17850.0    20.34
2         22.00 2010-12-01    536365     17850.0    22.00
3         20.34 2010-12-01    536365     17850.0    20.34
4         20.34 2010-12-01    536365     17850.0    20.34
...         ...        ...       ...         ...      ...
541904    10.20 2011-12-09    581587     12680.0    10.20
541905    12.60 2011-12-09    581587     12680.0    12.60
541906    16.60 2011-12-09    581587     12680.0    16.60
541907    16.60 2011-12-09    581587     12680.0    16.60
541908    14.85 2011-12-09    581587     12680.0    14.85

[541909 rows x 5 columns]

# Congrats!