<a href="https://colab.research.google.com/github/Yusuf5001/DA-with-Python/blob/main/Pandas_loc_and_iloc_indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [5]:
m = np.random.randint(1,40, size=(8,4))
m

array([[13,  1, 37, 13],
       [ 2, 17, 10, 19],
       [23, 32, 25,  9],
       [10,  5, 14, 18],
       [32, 33, 38, 15],
       [24,  9,  1, 31],
       [ 9, 28, 36,  2],
       [35, 39,  8, 19]])

In [7]:
df = pd.DataFrame(m, columns=["var1", "var2", "var3", "var4"])
df

   var1  var2  var3  var4
0    13     1    37    13
1     2    17    10    19
2    23    32    25     9
3    10     5    14    18
4    32    33    38    15
5    24     9     1    31
6     9    28    36     2
7    35    39     8    19

In [8]:
df.loc[4] # will return row with number 4

var1    32
var2    33
var3    38
var4    15
Name: 4, dtype: int64

In [9]:
df.loc[[4]]

   var1  var2  var3  var4
4    32    33    38    15

In [10]:
df.loc[2:5] #will inlude 5th row

   var1  var2  var3  var4
2    23    32    25     9
3    10     5    14    18
4    32    33    38    15
5    24     9     1    31

In [11]:
df.iloc[2:5] # will return index number from 2 to 5. 5 exclusive

   var1  var2  var3  var4
2    23    32    25     9
3    10     5    14    18
4    32    33    38    15

In [13]:
df.index="a b c d e f g h".split()
df

   var1  var2  var3  var4
a    13     1    37    13
b     2    17    10    19
c    23    32    25     9
d    10     5    14    18
e    32    33    38    15
f    24     9     1    31
g     9    28    36     2
h    35    39     8    19

In [15]:
#df.loc[4] error. no row labeled as 4

In [16]:
df.iloc[2:4]

   var1  var2  var3  var4
c    23    32    25     9
d    10     5    14    18

In [17]:
df.loc["a":"d"]

   var1  var2  var3  var4
a    13     1    37    13
b     2    17    10    19
c    23    32    25     9
d    10     5    14    18

In [18]:
df.iloc[3,1] # 3rd row  and 1st column  [row, column]

5

In [20]:
df.loc["d","var2"]

5

In [21]:
df.loc["d"]

var1    10
var2     5
var3    14
var4    18
Name: d, dtype: int64

In [22]:
df.loc[["d"]]

   var1  var2  var3  var4
d    10     5    14    18

In [23]:
df.loc["d":"g", "var3"] # will return row from d to go and only column var3

d    14
e    38
f     1
g    36
Name: var3, dtype: int64

In [27]:
df.iloc[3:7, 2] # will return row from d to go and only column var3

d    14
e    38
f     1
g    36
Name: var3, dtype: int64

In [30]:
df.loc["d":"g"]["var3"] # will return row from d to go and only column var3

d    14
e    38
f     1
g    36
Name: var3, dtype: int64

In [33]:
df.loc["d":"g", ["var3"]]

   var3
d    14
e    38
f     1
g    36

In [34]:
df.loc["d":"g"] [["var3"]]

   var3
d    14
e    38
f     1
g    36

In [36]:
df.iloc[3:7]["var3"]

d    14
e    38
f     1
g    36
Name: var3, dtype: int64

In [38]:
df.iloc[3:7][["var3"]]

   var3
d    14
e    38
f     1
g    36

In [39]:
df.loc["c"]

var1    23
var2    32
var3    25
var4     9
Name: c, dtype: int64

In [40]:
df.iloc[2]

var1    23
var2    32
var3    25
var4     9
Name: c, dtype: int64

In [41]:
df

   var1  var2  var3  var4
a    13     1    37    13
b     2    17    10    19
c    23    32    25     9
d    10     5    14    18
e    32    33    38    15
f    24     9     1    31
g     9    28    36     2
h    35    39     8    19

In [45]:
df.loc[["c"], ["var4"]]

   var4
c     9

In [46]:
df.loc[["a", "c"], ["var1", "var4"]]

   var1  var4
a    13    13
c    23     9

In [47]:
df.iloc[[0,2], [0,3]]

   var1  var4
a    13    13
c    23     9

In [48]:
df

   var1  var2  var3  var4
a    13     1    37    13
b     2    17    10    19
c    23    32    25     9
d    10     5    14    18
e    32    33    38    15
f    24     9     1    31
g     9    28    36     2
h    35    39     8    19

In [53]:
df>3

    var1   var2   var3   var4
a   True  False   True   True
b  False   True   True   True
c   True   True   True   True
d   True   True   True   True
e   True   True   True   True
f   True   True  False   True
g   True   True   True  False
h   True   True   True   True

In [52]:
df[df>3]

   var1  var2  var3  var4
a  13.0   NaN  37.0  13.0
b   NaN  17.0  10.0  19.0
c  23.0  32.0  25.0   9.0
d  10.0   5.0  14.0  18.0
e  32.0  33.0  38.0  15.0
f  24.0   9.0   NaN  31.0
g   9.0  28.0  36.0   NaN
h  35.0  39.0   8.0  19.0

In [57]:
df[df>33]

   var1  var2  var3  var4
a   NaN   NaN  37.0   NaN
b   NaN   NaN   NaN   NaN
c   NaN   NaN   NaN   NaN
d   NaN   NaN   NaN   NaN
e   NaN   NaN  38.0   NaN
f   NaN   NaN   NaN   NaN
g   NaN   NaN  36.0   NaN
h  35.0  39.0   NaN   NaN

In [60]:
df

   var1  var2  var3  var4
a    13     1    37    13
b     2    17    10    19
c    23    32    25     9
d    10     5    14    18
e    32    33    38    15
f    24     9     1    31
g     9    28    36     2
h    35    39     8    19

In [59]:
df[df["var3"]>11]

   var1  var2  var3  var4
a    13     1    37    13
c    23    32    25     9
d    10     5    14    18
e    32    33    38    15
g     9    28    36     2

In [61]:
df[df["var3"]>11]["var2"]

a     1
c    32
d     5
e    33
g    28
Name: var2, dtype: int64

In [62]:
df[df["var3"]>11][["var2"]]

   var2
a     1
c    32
d     5
e    33
g    28

In [63]:
df[(df["var1"]>0) & (df["var2"]<10)]

   var1  var2  var3  var4
a    13     1    37    13
d    10     5    14    18
f    24     9     1    31

In [65]:
df.loc[((df.var1 > 30) | df.var2<30), ["var3", "var4"] ]

   var3  var4
a    37    13
b    10    19
c    25     9
d    14    18
e    38    15
f     1    31
g    36     2
h     8    19

In [66]:
df.reset_index()

  index  var1  var2  var3  var4
0     a    13     1    37    13
1     b     2    17    10    19
2     c    23    32    25     9
3     d    10     5    14    18
4     e    32    33    38    15
5     f    24     9     1    31
6     g     9    28    36     2
7     h    35    39     8    19

In [67]:
df.reset_index(drop=True)

   var1  var2  var3  var4
0    13     1    37    13
1     2    17    10    19
2    23    32    25     9
3    10     5    14    18
4    32    33    38    15
5    24     9     1    31
6     9    28    36     2
7    35    39     8    19

In [68]:
df.set_index("var2")

      var1  var3  var4
var2
1       13    37    13
17       2    10    19
32      23    25     9
5       10    14    18
33      32    38    15
9       24     1    31
28       9    36     2
39      35     8    19

In [70]:
df.reset_index(drop=True, inplace=True)
df

   var1  var2  var3  var4
0    13     1    37    13
1     2    17    10    19
2    23    32    25     9
3    10     5    14    18
4    32    33    38    15
5    24     9     1    31
6     9    28    36     2
7    35    39     8    19