<a href="https://colab.research.google.com/github/Yusuf5001/DA-with-Python/blob/main/regex_class_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Regular-Expressions" data-toc-modified-id="Regular-Expressions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Regular Expressions</a></span></li></ul></div>

___


<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>

___

# Regular Expressions

In [ ]:
#str.   pandas.Series.str.
# Django (URL resolvers);   grep   ; pandas;  Perl

# find text.  given a patter, find "matchers"
# replace text   str.relace()
# split split text up
# group text found

# compile (recycle bits of code VERY efficiently)

In [ ]:
# \d Any numeric digit from 0 to 9.

# \D Matches any character which is not a decimal digit. This is the opposite of \d.

# \w Any letter, numeric digit, or the underscore character. (Think of this as matching "word" characters.)

# \W Any character that is not a letter, numeric digit, or the underscore character.

# \s Any space, tab, or newline character. ( Think of this as matching white-space characters.)

# \S Any character that is not a space, tab, or newline.

In [1]:
import re #regular expression library

In [2]:
pattern = r'\d\d'
target = 'A78L41K'
match = re.search(pattern, target)

In [3]:
match.group()

'78'

In [4]:
match.start()

1

In [ ]:
match.end()

In [6]:
match.string

'A78L41K'

In [7]:
match.re

re.compile(r'\d\d', re.UNICODE)

In [ ]:
pattern = r'8L4'
target = 'A78L41K'
match = re.search(pattern, target)
match

In [ ]:
text = "8PM19MIN"
nondeci = re.search("\D", text)
print(nondeci.group())

P

In [ ]:
text = 'My phone number is 5556667777'  #(503) 555-1212    503.555.1212  +01 503-555-1212
output = re.search("(\d\d\d)(\d\d\d)(\d\d\d\d)", text)  #(parens signal groups)
output

In [ ]:
output.groups()

('555', '666', '7777')

In [ ]:
text = 'My phone number is 555666abcd'  #(503) 555-1212    503.555.1212  +01 503-555-1212
output = re.search("(\d\d\d)(\d\d\d)(\d\d\d\d)", text)  #(parens signal groups)
output = re.search("(\d\d\d)(\d\d\d)", text)  #(parens signal groups)
output
output.groups()

('555', '666')

In [ ]:
text = 'My phone number is 415-555-1212'
output = re.search('(\d\d\d)-(\d\d\d-\d\d\d\d)', text)
output

In [ ]:
output.group(0)

'415-555-1212'

In [ ]:
output.group(1)

'415'

In [ ]:
output.group(2)

'555-1212'

In [ ]:
output.groups()

('415', '555-1212')

In [ ]:
len(output.groups())

2

In [ ]:
value = "O 1, t 10, o 100. 100000"  #0 -> 999999 
output = re.findall("\d{1,6}", value)
output

['1', '10', '100', '100000']

In [ ]:
phone = "2004-959-559 # This is Phone Number"
output = re.sub("\D", "", phone)  #greedy (does many operations)
output

'2004959559'

In [ ]:
phone = "2004-959-559 # This is Phone Number"
output = re.sub("\d", ".", phone)
output

'....-...-... # This is Phone Number'

In [ ]:
import pandas as pd
s = pd.Series(['a3', 'b4', 'c5', 'd'])
t = s.str.contains("\d")

In [ ]:
t

0     True
1     True
2     True
3    False
dtype: bool

In [ ]:
s[t]

0    a3
1    b4
2    c5
dtype: object

In [ ]:
s.apply(lambda x : True if re.search("\d", x) else False)

0     True
1     True
2     True
3    False
dtype: bool

In [ ]:
s = pd.Series(["aaa" ,"bbabb", "cccaccc"])  
s.str.count("\w")

0    3
1    5
2    7
dtype: int64

In [ ]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [ ]:
s.str.extract('(\w)(\d)(\w)(\w)')  # (x)9(x)(x)

   0  1  2  3
0  a  3  a  a
1  b  4  a  a
2  c  5  a  a

In [ ]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [ ]:
s.str.extract('(\d\d\d )').head(1)

      0
0  100

In [ ]:
 s.str.extract('(\d\d|\d.\d|\d)')     #80   5.4   6,3

In [ ]:
# coding=utf8
# the above tag defines encoding for this document and is for Python 2.x compatibility

import re

regex = r"(\d\d|\d.\d|\d)+"

test_str = "40 l/100 km (comb)"

matches = re.finditer(regex, test_str, re.MULTILINE)

for matchNum, match in enumerate(matches, start=1):
    
    print ("Match {matchNum} was found at {start}-{end}: {match}".format(matchNum = matchNum, start = match.start(), end = match.end(), match = match.group()))
    
    for groupNum in range(0, len(match.groups())):
        groupNum = groupNum + 1
        
        print ("Group {groupNum} found at {start}-{end}: {group}".format(groupNum = groupNum, start = match.start(groupNum), end = match.end(groupNum), group = match.group(groupNum)))

# Note: for Python 2.7 compatibility, use ur"" to prefix the regex and u"" to prefix the test string and substitution.

Match 1 was found at 0-2: 40
Group 1 found at 0-2: 40
Match 2 was found at 5-8: 100
Group 1 found at 7-8: 0

In [ ]:
#https://regex101.com