In [1]:
import numpy as np 
import pandas as pd 
from pandas.plotting import register_matplotlib_converters
%matplotlib inline

import seaborn as sns
sns.set_style("darkgrid")

import matplotlib.pyplot as plt
from collections import Counter

from pylab import rcParams
plt.rcParams['figure.figsize'] = (12,12)
plt.rcParams['figure.dpi'] = 400
import re
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

pd.set_option('display.max_columns', None)

In [22]:
df0 = pd.read_csv("IMDB.csv", index_col="Unnamed: 0")
df = df0.copy()

In [23]:
df.head()

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,Jai Bhim,2021,164,9.3,Nan,"173,295",#139,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj..."
1,The Shawshank Redemption,1994,142,9.3,80,"2,541,091",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,The Godfather,1972,175,9.2,100,"1,748,410",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '..."
3,Soorarai Pottru,2020,153,9.1,Nan,"107,159",Nan,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya', 'Paresh Rawal', 'Aparna Balamurali'..."
4,The Dark Knight,2008,152,9.0,84,"2,491,371",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh..."

In [24]:
df.shape

(1000, 10)

In [25]:
df.Star.head()

0    ['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj...
1    ['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...
2    ['Marlon Brando', 'Al Pacino', 'James Caan', '...
3    ['Suriya', 'Paresh Rawal', 'Aparna Balamurali'...
4    ['Christian Bale', 'Heath Ledger', 'Aaron Eckh...
Name: Star, dtype: object

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name of movie     1000 non-null   object
 1   Year of relase    1000 non-null   object
 2   Watchtime         1000 non-null   int64
 3   Movie Rating      1000 non-null   float64
 4   Metascore         1000 non-null   object
 5   Votes             1000 non-null   object
 6   Gross collection  1000 non-null   object
 7   Description       1000 non-null   object
 8   Director          1000 non-null   object
 9   Star              1000 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 85.9+ KB

In [27]:
dtypes = pd.DataFrame(df.dtypes, columns = ['dtypes'])
dtypes

                   dtypes
Name of movie      object
Year of relase     object
Watchtime           int64
Movie Rating      float64
Metascore          object
Votes              object
Gross collection   object
Description        object
Director           object
Star               object

In [28]:
df.head()

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,Jai Bhim,2021,164,9.3,Nan,"173,295",#139,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj..."
1,The Shawshank Redemption,1994,142,9.3,80,"2,541,091",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,The Godfather,1972,175,9.2,100,"1,748,410",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '..."
3,Soorarai Pottru,2020,153,9.1,Nan,"107,159",Nan,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya', 'Paresh Rawal', 'Aparna Balamurali'..."
4,The Dark Knight,2008,152,9.0,84,"2,491,371",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh..."

## Converting Votes to integers

In [29]:
df["Votes"]=df["Votes"].str.replace(",","")

In [30]:
df.Votes.head()

0     173295
1    2541091
2    1748410
3     107159
4    2491371
Name: Votes, dtype: object

In [31]:
df["Votes"]=df["Votes"].astype(int)

In [32]:
df.Votes.head()

0     173295
1    2541091
2    1748410
3     107159
4    2491371
Name: Votes, dtype: int32

In [34]:
df["Year of relase"]=df["Year of relase"].dt.strftime("%Y")

AttributeError: Can only use .dt accessor with datetimelike values

## Name of the Longest Movie

In [9]:
df.iloc[[df.Watchtime.argmax()]]

,Unnamed: 0,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
36,36,Shichinin no samurai,1954,207,8.6,98,"335,289",$0.27M,A poor village under attack by bandits recruit...,Akira Kurosawa,"['Toshirô Mifune', 'Takashi Shimura', 'Keiko T..."

## Name of the Shortest Movie

In [10]:
df.iloc[[df.Watchtime.argmin()]]

,Unnamed: 0,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
57,57,Modern Times,1936,87,8.5,96,"234,008",$0.16M,The Tramp struggles to live in modern industri...,Charles Chaplin,"['Charles Chaplin', 'Paulette Goddard', 'Henry..."

## Year of release datetime cevirmek istiyoruz

In [11]:
#re.sub("[^0-9]", "", df["Year of relase"])

In [12]:
##df["Year of relase"] = df['Year of relase'].astype(str)

In [13]:
##df["Year of relase"] = df["Year of relase"].str.extract('(^\d*)')

In [14]:
#''.join(c for c in df["Year of relase"] if c.isdigit())

In [15]:
df["Year of relase"] =  df["Year of relase"].str.replace("I ", "").str.replace("I", "")

In [16]:
pd.to_datetime(df["Year of relase"])

0     2021-01-01
1     1994-01-01
2     1972-01-01
3     2020-01-01
4     2008-01-01
         ...
995   2017-01-01
996   2013-01-01
997   2012-01-01
998   2011-01-01
999   2010-01-01
Name: Year of relase, Length: 1000, dtype: datetime64[ns]

## Year of release int cevirmek

In [17]:
df["Year of relase"] = pd.to_numeric(df["Year of relase"])

In [18]:
df.dtypes

Unnamed: 0            int64
Name of movie        object
Year of relase        int64
Watchtime             int64
Movie Rating        float64
Metascore            object
Votes                object
Gross collection     object
Description          object
Director             object
Star                 object
dtype: object

In [19]:
df["Year of relase"]

0      2021
1      1994
2      1972
3      2020
4      2008
       ...
995    2017
996    2013
997    2012
998    2011
999    2010
Name: Year of relase, Length: 1000, dtype: int64

## Drop Unnamed Column

In [20]:
df

,Unnamed: 0,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,0,Jai Bhim,2021,164,9.3,Nan,"173,295",#139,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj..."
1,1,The Shawshank Redemption,1994,142,9.3,80,"2,541,091",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,2,The Godfather,1972,175,9.2,100,"1,748,410",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '..."
3,3,Soorarai Pottru,2020,153,9.1,Nan,"107,159",Nan,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya', 'Paresh Rawal', 'Aparna Balamurali'..."
4,4,The Dark Knight,2008,152,9.0,84,"2,491,371",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh..."
...,...,...,...,...,...,...,...,...,...,...,...
995,995,Vikram Vedha,2017,147,8.3,Nan,"35,901",Nan,"Vikram, a no-nonsense police officer, accompan...","Directors:Gayatri, Pushkar","['Madhavan', 'Vijay Sethupathi', 'Shraddha Sri..."
996,996,Drishyam,2013,160,8.3,Nan,"39,570",#244,A man goes to extreme lengths to save his fami...,Jeethu Joseph,"['Mohanlal', 'Meena', 'Asha Sharath', 'Ansiba']"
997,997,Jagten,2012,115,8.3,77,"313,647",$0.69M,"A teacher lives a lonely life, all the while s...",Thomas Vinterberg,"['Mads Mikkelsen', 'Thomas Bo Larsen', 'Annika..."
998,998,Jodaeiye Nader az Simin,2011,123,8.3,95,"238,130",$7.10M,A married couple are faced with a difficult de...,Asghar Farhadi,"['Payman Maadi', 'Leila Hatami', 'Sareh Bayat'..."
999,999,Incendies,2010,131,8.3,80,"168,727",$6.86M,Twins journey to the Middle East to discover t...,Denis Villeneuve,"['Lubna Azabal', 'Mélissa Désormeaux-Poulin', ..."

In [21]:
df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [22]:
df

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,Jai Bhim,2021,164,9.3,Nan,"173,295",#139,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj..."
1,The Shawshank Redemption,1994,142,9.3,80,"2,541,091",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,The Godfather,1972,175,9.2,100,"1,748,410",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '..."
3,Soorarai Pottru,2020,153,9.1,Nan,"107,159",Nan,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya', 'Paresh Rawal', 'Aparna Balamurali'..."
4,The Dark Knight,2008,152,9.0,84,"2,491,371",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh..."
...,...,...,...,...,...,...,...,...,...,...
995,Vikram Vedha,2017,147,8.3,Nan,"35,901",Nan,"Vikram, a no-nonsense police officer, accompan...","Directors:Gayatri, Pushkar","['Madhavan', 'Vijay Sethupathi', 'Shraddha Sri..."
996,Drishyam,2013,160,8.3,Nan,"39,570",#244,A man goes to extreme lengths to save his fami...,Jeethu Joseph,"['Mohanlal', 'Meena', 'Asha Sharath', 'Ansiba']"
997,Jagten,2012,115,8.3,77,"313,647",$0.69M,"A teacher lives a lonely life, all the while s...",Thomas Vinterberg,"['Mads Mikkelsen', 'Thomas Bo Larsen', 'Annika..."
998,Jodaeiye Nader az Simin,2011,123,8.3,95,"238,130",$7.10M,A married couple are faced with a difficult de...,Asghar Farhadi,"['Payman Maadi', 'Leila Hatami', 'Sareh Bayat'..."
999,Incendies,2010,131,8.3,80,"168,727",$6.86M,Twins journey to the Middle East to discover t...,Denis Villeneuve,"['Lubna Azabal', 'Mélissa Désormeaux-Poulin', ..."

In [23]:
# df = df.drop(["Unnamed: 0"], axis=1) alternative for drop

## Working with Nan values

In [24]:
df.isna().any() # will return True if there is a single NaN value

Name of movie       False
Year of relase      False
Watchtime           False
Movie Rating        False
Metascore           False
Votes               False
Gross collection    False
Description         False
Director            False
Star                False
dtype: bool

In [25]:
df[df.isin(['Nan'])].any()

Name of movie       False
Year of relase      False
Watchtime           False
Movie Rating        False
Metascore            True
Votes               False
Gross collection     True
Description         False
Director            False
Star                False
dtype: bool

In [26]:
df.isna().sum() # will return # of rows with NaN values

Name of movie       0
Year of relase      0
Watchtime           0
Movie Rating        0
Metascore           0
Votes               0
Gross collection    0
Description         0
Director            0
Star                0
dtype: int64

In [27]:
df.isna().count() # will count all rows even if there is only 1 NaN values

Name of movie       1000
Year of relase      1000
Watchtime           1000
Movie Rating        1000
Metascore           1000
Votes               1000
Gross collection    1000
Description         1000
Director            1000
Star                1000
dtype: int64

In [28]:
df[df["Gross collection"]=="Nan"].index

Int64Index([  3,  16,  17,  18,  25,  38,  62,  63,  93,  94,
            ...
            916, 917, 918, 925, 938, 962, 963, 993, 994, 995],
           dtype='int64', length=110)

In [29]:
a = df[df["Metascore"]=="Nan"].index

In [30]:
df.iloc[a]

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,Jai Bhim,2021,164,9.3,Nan,"173,295",#139,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj..."
3,Soorarai Pottru,2020,153,9.1,Nan,"107,159",Nan,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya', 'Paresh Rawal', 'Aparna Balamurali'..."
16,Dara iz Jasenovca,2020,130,8.7,Nan,"80,317",Nan,Follows the story of a young girl named Dara w...,Predrag Antonijevic,"['Biljana Cekic', 'Zlatan Vidovic', 'Anja Stan..."
17,Shershaah,2021,135,8.7,Nan,"112,894",Nan,The story of PVC awardee Indian soldier Capt. ...,Vishnuvardhan,"['Sidharth Malhotra', 'Kiara Advani', 'Shiv Pa..."
18,Sardar Udham,2021,164,8.7,Nan,"35,937",Nan,A biopic detailing the 2 decades that Punjabi ...,Shoojit Sircar,"['Vicky Kaushal', 'Banita Sandhu', 'Shaun Scot..."
...,...,...,...,...,...,...,...,...,...,...
992,Uri: The Surgical Strike,2019,138,8.3,Nan,"55,176",$4.19M,Indian army special forces execute a covert op...,Aditya Dhar,"['Vicky Kaushal', 'Paresh Rawal', 'Mohit Raina..."
993,Tumbbad,2018,104,8.3,Nan,"39,757",Nan,A mythological story about a goddess who creat...,"Directors:Rahi Anil Barve, Anand Gandhi, Adesh...","['Sohum Shah', 'Jyoti Malshe', 'Anita Date', '..."
994,K.G.F: Chapter 1,2018,156,8.3,Nan,"54,515",Nan,"In the 1970s, a gangster goes undercover as a ...",Prashanth Neel,"['Yash', 'Srinidhi Shetty', 'Ramachandra Raju'..."
995,Vikram Vedha,2017,147,8.3,Nan,"35,901",Nan,"Vikram, a no-nonsense police officer, accompan...","Directors:Gayatri, Pushkar","['Madhavan', 'Vijay Sethupathi', 'Shraddha Sri..."
996,Drishyam,2013,160,8.3,Nan,"39,570",#244,A man goes to extreme lengths to save his fami...,Jeethu Joseph,"['Mohanlal', 'Meena', 'Asha Sharath', 'Ansiba']"

In [31]:
df

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,Jai Bhim,2021,164,9.3,Nan,"173,295",#139,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj..."
1,The Shawshank Redemption,1994,142,9.3,80,"2,541,091",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,The Godfather,1972,175,9.2,100,"1,748,410",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '..."
3,Soorarai Pottru,2020,153,9.1,Nan,"107,159",Nan,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya', 'Paresh Rawal', 'Aparna Balamurali'..."
4,The Dark Knight,2008,152,9.0,84,"2,491,371",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh..."
...,...,...,...,...,...,...,...,...,...,...
995,Vikram Vedha,2017,147,8.3,Nan,"35,901",Nan,"Vikram, a no-nonsense police officer, accompan...","Directors:Gayatri, Pushkar","['Madhavan', 'Vijay Sethupathi', 'Shraddha Sri..."
996,Drishyam,2013,160,8.3,Nan,"39,570",#244,A man goes to extreme lengths to save his fami...,Jeethu Joseph,"['Mohanlal', 'Meena', 'Asha Sharath', 'Ansiba']"
997,Jagten,2012,115,8.3,77,"313,647",$0.69M,"A teacher lives a lonely life, all the while s...",Thomas Vinterberg,"['Mads Mikkelsen', 'Thomas Bo Larsen', 'Annika..."
998,Jodaeiye Nader az Simin,2011,123,8.3,95,"238,130",$7.10M,A married couple are faced with a difficult de...,Asghar Farhadi,"['Payman Maadi', 'Leila Hatami', 'Sareh Bayat'..."
999,Incendies,2010,131,8.3,80,"168,727",$6.86M,Twins journey to the Middle East to discover t...,Denis Villeneuve,"['Lubna Azabal', 'Mélissa Désormeaux-Poulin', ..."

In [32]:
df = df.replace("Nan", np.nan)

In [33]:
df.isna().sum()

Name of movie         0
Year of relase        0
Watchtime             0
Movie Rating          0
Metascore           220
Votes                 0
Gross collection    110
Description           0
Director              0
Star                  0
dtype: int64

In [34]:
#df.dropna(axis=1, inplace=True)

In [35]:
df[df.isin(['NaN'])].any()

Name of movie       False
Year of relase      False
Watchtime           False
Movie Rating        False
Metascore           False
Votes               False
Gross collection    False
Description         False
Director            False
Star                False
dtype: bool

In [36]:
df

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,Jai Bhim,2021,164,9.3,NaN,"173,295",#139,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj..."
1,The Shawshank Redemption,1994,142,9.3,80,"2,541,091",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,The Godfather,1972,175,9.2,100,"1,748,410",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '..."
3,Soorarai Pottru,2020,153,9.1,NaN,"107,159",NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya', 'Paresh Rawal', 'Aparna Balamurali'..."
4,The Dark Knight,2008,152,9.0,84,"2,491,371",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh..."
...,...,...,...,...,...,...,...,...,...,...
995,Vikram Vedha,2017,147,8.3,NaN,"35,901",NaN,"Vikram, a no-nonsense police officer, accompan...","Directors:Gayatri, Pushkar","['Madhavan', 'Vijay Sethupathi', 'Shraddha Sri..."
996,Drishyam,2013,160,8.3,NaN,"39,570",#244,A man goes to extreme lengths to save his fami...,Jeethu Joseph,"['Mohanlal', 'Meena', 'Asha Sharath', 'Ansiba']"
997,Jagten,2012,115,8.3,77,"313,647",$0.69M,"A teacher lives a lonely life, all the while s...",Thomas Vinterberg,"['Mads Mikkelsen', 'Thomas Bo Larsen', 'Annika..."
998,Jodaeiye Nader az Simin,2011,123,8.3,95,"238,130",$7.10M,A married couple are faced with a difficult de...,Asghar Farhadi,"['Payman Maadi', 'Leila Hatami', 'Sareh Bayat'..."
999,Incendies,2010,131,8.3,80,"168,727",$6.86M,Twins journey to the Middle East to discover t...,Denis Villeneuve,"['Lubna Azabal', 'Mélissa Désormeaux-Poulin', ..."

## Filling Metascore NaN values

In [40]:
df["Metascore"] = pd.to_numeric(df["Metascore"])

In [41]:
np.mean(df["Metascore"])

82.67948717948718

In [42]:
np.mean(df["Movie Rating"])

8.551999999999968

In [43]:
np.mean(df["Metascore"])/np.mean(df["Movie Rating"])

9.667853973279641

In [44]:
#I decided to fill nan values of Metascore using Movie Rating and multyiplying it with 9.67.
#9.67 is the ratio between means

In [45]:
df["Metascore"] =df["Metascore"].fillna((df["Movie Rating"]*9.67))

In [46]:
df["Metascore"] =df["Metascore"].astype(int)

In [47]:
df.dtypes

Name of movie        object
Year of relase        int64
Watchtime             int64
Movie Rating        float64
Metascore             int32
Votes                object
Gross collection     object
Description          object
Director             object
Star                 object
dtype: object

In [48]:
df.Metascore

0       89
1       80
2      100
3       87
4       84
      ...
995     80
996     80
997     77
998     95
999     80
Name: Metascore, Length: 1000, dtype: int32

## Seperate Star Names

In [205]:
df.Star=df.Star.str.strip(",")

In [206]:
df.Star[0]

"['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Rajisha Vijayan']"

In [207]:
df.Star

0      ['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj...
1      ['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...
2      ['Marlon Brando', 'Al Pacino', 'James Caan', '...
3      ['Suriya', 'Paresh Rawal', 'Aparna Balamurali'...
4      ['Christian Bale', 'Heath Ledger', 'Aaron Eckh...
                             ...
995    ['Madhavan', 'Vijay Sethupathi', 'Shraddha Sri...
996      ['Mohanlal', 'Meena', 'Asha Sharath', 'Ansiba']
997    ['Mads Mikkelsen', 'Thomas Bo Larsen', 'Annika...
998    ['Payman Maadi', 'Leila Hatami', 'Sareh Bayat'...
999    ['Lubna Azabal', 'Mélissa Désormeaux-Poulin', ...
Name: Star, Length: 1000, dtype: object

In [208]:
df.head()

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
0,Jai Bhim,2021,164,9.3,89,"173,295",#139,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya', 'Lijo Mol Jose', 'Manikandan', 'Raj..."
1,The Shawshank Redemption,1994,142,9.3,80,"2,541,091",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,The Godfather,1972,175,9.2,100,"1,748,410",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '..."
3,Soorarai Pottru,2020,153,9.1,87,"107,159",NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya', 'Paresh Rawal', 'Aparna Balamurali'..."
4,The Dark Knight,2008,152,9.0,84,"2,491,371",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh..."

## Working on Gross collection

In [209]:
df["Gross collection"]

0          #139
1       $28.34M
2      $134.97M
3           NaN
4      $534.86M
         ...
995         NaN
996        #244
997      $0.69M
998      $7.10M
999      $6.86M
Name: Gross collection, Length: 1000, dtype: object

## # of Votes, Most and Least Voted Movies

In [210]:
df.Votes = df.Votes.str.replace(",", "")

In [211]:
df.Votes = pd.to_numeric(df.Votes)

In [212]:
df.Votes

0       173295
1      2541091
2      1748410
3       107159
4      2491371
        ...
995      35901
996      39570
997     313647
998     238130
999     168727
Name: Votes, Length: 1000, dtype: int64

In [217]:
df.iloc[[df.Votes.argmax()]]

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
1,The Shawshank Redemption,1994,142,9.3,80,2541091,$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."

In [218]:
df.iloc[[df.Votes.argmin()]]

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection,Description,Director,Star
38,96,2018,158,8.5,82,27527,NaN,Two high school sweethearts meet at a reunion ...,C. Prem Kumar,"['Vijay Sethupathi', 'Adithya Bhaskar', 'Trish..."

In [216]:
df.Votes.sort_values(ascending=True)

738      27527
938      27527
638      27527
538      27527
38       27527
        ...
701    2541091
101    2541091
1      2541091
601    2541091
401    2541091
Name: Votes, Length: 1000, dtype: int64

## Top 10 Rated Movies (By Movie Rating)

## Top 10 Rated Movies (By Metascore)

## Top 10 Rated Movies (Movie Rating and  Metascore Combined)

## Top 10 Rated Movies (Movie Rating, Metascore Combined and Votes Combined)

## Most Famous Stars

## The stars with most movies

## Top 5 Highest Gross Collection Movies

## Top 5 Directors