<a href="https://colab.research.google.com/github/Yusuf5001/DA-with-Python/blob/main/Assignment_1_Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>

In this assignment you will start off with Numpy Exercises and then complete the whole Exercise with Pandas questions. All the subjects related to questions here already covered in preclass materials and in-class sessions. So good luck!

#### 1. Import NumPy Library

In [1]:
import numpy as np

#### 2. Create an array from my_list=[5,10,15,20,25]

In [2]:
my_list=[5,10,15,20,25]
np.array(my_list)

array([ 5, 10, 15, 20, 25])

#### 3. Generate an array 5x5 zeros

In [3]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

#### 4. Generate an array 4x4 ones assign data type int

In [4]:
np.ones((4,4), dtype=int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

#### 5. Make all the values of the array above 7

In [5]:
np.ones((7,7), dtype=int)

array([[1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1]])

#### 6. Create same array above with full method

In [ ]:
np.full((4,4),7)

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

#### 7. Create an array of even integers from 2 to 16

In [ ]:
np.arange(2,16,2)

array([ 2,  4,  6,  8, 10, 12, 14])

#### 8. Create a 5x5 matrix with values between 0 to 25

In [ ]:
np.random.randint((25), size=(5,5))

array([[22,  8, 10, 21, 22],
       [ 8,  8, 11, 15,  9],
       [ 2, 23,  7, 18, 22],
       [23,  6, 12, 13, 23],
       [23,  8,  1, 13, 22]])

#### 9. Create a 5x5 matrix with values between 0 to 25 using linspace

In [ ]:
np.linspace(0,25,25)

array([ 0.        ,  1.04166667,  2.08333333,  3.125     ,  4.16666667,
        5.20833333,  6.25      ,  7.29166667,  8.33333333,  9.375     ,
       10.41666667, 11.45833333, 12.5       , 13.54166667, 14.58333333,
       15.625     , 16.66666667, 17.70833333, 18.75      , 19.79166667,
       20.83333333, 21.875     , 22.91666667, 23.95833333, 25.        ])

#### 10. Create 5 random number with numpy

In [ ]:
np.random.randn(5)

array([-1.58879245,  0.29527393, -0.43145816, -1.25004766, -0.38404877])

#### 11. Create random normal distributed 5x5 array

> Indented block

In [ ]:
np.random.rand(5,5)

array([[0.97663449, 0.57561994, 0.01574313, 0.54716296, 0.7878531 ],
       [0.27888611, 0.51147762, 0.96404137, 0.4321868 , 0.50843058],
       [0.43676922, 0.85467098, 0.19757942, 0.51970674, 0.57834565],
       [0.29769761, 0.20586042, 0.20316667, 0.8168434 , 0.86987471],
       [0.7761609 , 0.54130827, 0.94019507, 0.94284771, 0.69265751]])

#### 12. Create 3x4 shaped array with random int numbers between 20 and 50 with numpy

In [ ]:
arr = np.random.randint(20,50, size=(3,4))
arr

array([[42, 34, 38, 31],
       [49, 25, 29, 43],
       [24, 20, 35, 44]])

#### 13. Reshape the array below with shape 6x8

In [ ]:
listem = [52, 48, 21, 29, 15, 35,  3, 29, 43, 48, 38,  8, 44,  2, 46, 27, 11,
       29, 30, 26,  8, 49, 19,  2,  9, 38, 40, 36, 16, 41, 39, 17, 20, 42,
       23, 35, 45, 18, 40,  9, 36, 37,  5, 17, 44, 36,  2, 52]

In [ ]:
ranarr = np.array(listem)
ranarr

array([52, 48, 21, 29, 15, 35,  3, 29, 43, 48, 38,  8, 44,  2, 46, 27, 11,
       29, 30, 26,  8, 49, 19,  2,  9, 38, 40, 36, 16, 41, 39, 17, 20, 42,
       23, 35, 45, 18, 40,  9, 36, 37,  5, 17, 44, 36,  2, 52])

In [ ]:
ranarr.reshape(6,8)

array([[52, 48, 21, 29, 15, 35,  3, 29],
       [43, 48, 38,  8, 44,  2, 46, 27],
       [11, 29, 30, 26,  8, 49, 19,  2],
       [ 9, 38, 40, 36, 16, 41, 39, 17],
       [20, 42, 23, 35, 45, 18, 40,  9],
       [36, 37,  5, 17, 44, 36,  2, 52]])

In [ ]:
#reshape with -1
ranarr.reshape(-1,12)

array([[52, 48, 21, 29, 15, 35,  3, 29, 43, 48, 38,  8],
       [44,  2, 46, 27, 11, 29, 30, 26,  8, 49, 19,  2],
       [ 9, 38, 40, 36, 16, 41, 39, 17, 20, 42, 23, 35],
       [45, 18, 40,  9, 36, 37,  5, 17, 44, 36,  2, 52]])

## Numpy Indexing and Selection

In [ ]:
#Create array below
mat= np.arange(1,17).reshape(4,4)
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

#### 14. Write code that reproduces the output shown below.<br>

In [ ]:
mat[1:3,1:3]

array([[ 6,  7],
       [10, 11]])

#### 15. Get the first column of the array.

In [ ]:
mat[:,0]

array([ 1,  5,  9, 13])

#### 16. Get the values in 2nd row for every 2 step.

In [ ]:
mat[1,0:3:2]

array([5, 7])

#### 17.Assign 77 to every cell in 3rd column.

In [ ]:
mat[:,2:3]=77

In [ ]:
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

#### 18. Take 2nd row 1st column, 4th row 2nd column.

In [ ]:
mat[[1,3],[0,1]]

array([ 5, 14])

#### 19. Take between 2nd and last row with step 2 and between 1 and last column with step 2.

In [ ]:
mat[1:4:2, 0:3:2]

array([[ 5, 77],
       [13, 77]])

In [ ]:
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

## NumPy Operations

#### 20. Get the sum of values smaller than 10 and values bigger than 12 from array above

In [ ]:
  smaller = mat[mat<10]
  smaller

array([1, 2, 4, 5, 6, 8, 9])

In [ ]:
bigger = mat[mat>12]
bigger

array([77, 77, 77, 13, 14, 77, 16])

In [ ]:
result = smaller + bigger
result

array([78, 79, 81, 18, 20, 85, 25])

#### 21. Get the standard deviation of the result above

In [ ]:
np.std(result)

29.700546274093877

#### 22. Get the sum of second column from array above

In [ ]:
#print array here
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [ ]:
second_sum = np.sum(mat[:,1])
second_sum

32

#### 23. Get the median,mean and std of 3rd row from array above

In [ ]:
mat

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [ ]:
mat[2]

array([ 9, 10, 77, 12])

In [ ]:
#median
np.median(mat[2])

11.0

In [ ]:
#mean
np.mean(mat[2])

27.0

In [ ]:
#std
np.std(mat[2])

28.88771365130858

# Pandas Section

In [ ]:
import pandas as pd

In [ ]:
cd /content/sample_data/

/content/sample_data

In [ ]:
pwd

'/content/sample_data'

**Read Salaries.csv take a look at first 5 rows, df info and df statistical measurements**

In [ ]:
sal = pd.read_csv("/content/sample_data/Salaries.csv", error_bad_lines=False)

In [ ]:
sal.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19731 entries, 0 to 19730
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                19731 non-null  int64
 1   EmployeeName      19731 non-null  object
 2   JobTitle          19731 non-null  object
 3   BasePay           19731 non-null  float64
 4   OvertimePay       19730 non-null  float64
 5   OtherPay          19730 non-null  float64
 6   Benefits          0 non-null      float64
 7   TotalPay          19730 non-null  float64
 8   TotalPayBenefits  19730 non-null  float64
 9   Year              19730 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            19730 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 2.0+ MB

In [ ]:
sal.describe()

                 Id        BasePay    OvertimePay  ...     Year  Notes  Status
count  19731.000000   19731.000000   19730.000000  ...  19730.0    0.0     0.0
mean    9866.000000   92562.843269    7584.495871  ...   2011.0    NaN     NaN
std     5695.993416   28288.773251   13323.558742  ...      0.0    NaN     NaN
min        1.000000       0.000000       0.000000  ...   2011.0    NaN     NaN
25%     4933.500000   70377.475000       0.000000  ...   2011.0    NaN     NaN
50%     9866.000000   86887.210000    1830.600000  ...   2011.0    NaN     NaN
75%    14798.500000  107698.600000    9430.505000  ...   2011.0    NaN     NaN
max    19731.000000  294580.020000  245131.880000  ...   2011.0    NaN     NaN

[8 rows x 10 columns]

**How many different year value are there**

**Print out max and avg Totalpay**

In [ ]:
#max
sal["TotalPay"].max()

567595.43

In [ ]:
#avg
sal["TotalPay"].mean()

105840.53810440995

# **How many records are there which have TotalPay bigger than avg TotalPay**

In [ ]:
sal.TotalPay[sal.TotalPay>sal.TotalPay.mean()].count()

8298

**How much does ALBERT PARDINI make (including benefits)?**

In [ ]:
sal[sal["EmployeeName"]=="ALBERT PARDINI"]["TotalPayBenefits"]

2    335279.91
Name: TotalPayBenefits, dtype: float64

**Who is lowest paid person**

In [ ]:
sal[sal.TotalPayBenefits==sal.TotalPayBenefits.min()]['EmployeeName']

19729    JASIRI MSHAURI
Name: EmployeeName, dtype: object

**What are the unique Jobs in dataset?**

In [ ]:
sal.JobTitle.unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC',
       'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)',
       'ASSISTANT DEPUTY CHIEF II', 'BATTALION CHIEF, (FIRE DEPARTMENT)',
       'DEPUTY DIRECTOR OF INVESTMENTS',
       'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
       'ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
       'EXECUTIVE CONTRACT EMPLOYEE', 'DEPARTMENT HEAD V',
       'COMMANDER III, (POLICE DEPARTMENT)',
       'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
       'ASSISTANT MEDICAL EXAMINER', 'CAPTAIN, FIRE SUPPRESSION',
       'CHIEF OF POLICE', 'DEPUTY CHIEF III (POLICE DEPARTMENT)',
       'INSPECTOR III, (POLICE DEPARTMENT)',
       'ELECTRONIC MAINTENANCE TECHNICIAN',
       'ADMINISTRATOR, SFGH MEDICAL CENTER',
       'LIEUTENANT III (POLICE DEPARTMENT)', 'FIREFIGHTER',
       'NURSING SUPERVISOR PSYCHIATRIC', 'MAYOR',
       'LIEUTENANT, FIRE DEPARTMENT', 'INCIDENT SUPPORT SPECIALIST',
       'ANESTHETIST', 'DISTRICT ATTORNEY',
       'ELECTRICAL TRANSIT MECHANIC, ASSISTANT SUPERVISOR',
       'PORT DIRECTOR',
       'LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBLIC S',
       'SENIOR PHYSICIAN SPECIALIST', 'FIRE FIGHTER PARAMEDIC',
       'MANAGER VII', 'TRANSIT SUPERVISOR',
       'INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLIC SA',
       'MANAGER VIII', 'DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG',
       'NURSING SUPERVISOR', 'POLICE OFFICER III', "SHERIFF'S LIEUTENANT",
       'DEPUTY DIRECTOR V', 'SUPERVISING PHYSICIAN SPECIALIST',
       'DEPARTMENT HEAD IV', 'FORENSIC TOXICOLOGIST',
       'CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)',
       'SERGEANT III (POLICE DEPARTMENT)', 'DEPUTY SHERIFF',
       'NURSE MANAGER', 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
       'CITY ATTORNEY', 'MARINE ENGINEER OF FIRE BOATS',
       'CHIEF ATTORNEY I (CIVIL & CRIMINAL)',
       'CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE',
       'ELECTRICAL TRANSIT SHOP SUPERVISOR I', 'POLICE OFFICER I',
       'POLICE OFFICER II', 'SERGEANT I (POLICE DEPARTMENT)',
       'SPECIAL ASSISTANT XXII', 'DEPUTY DIRECTOR IV',
       'WIRE ROPE CABLE MAINTENANCE SUPERVISOR', 'PUBLIC DEFENDER',
       'SHERIFF', 'HUMAN RESOURCES DIRECTOR',
       'INVESTIGATOR, BUREAU OF FIRE INVESTIGATION',
       'ASSISTANT CHIEF ATTORNEY II', 'DEPUTY DIRECTOR III', 'PHARMACIST',
       'TRANSIT OPERATIONS SPECIALIST', 'DEPARTMENT HEAD III',
       'CHIEF PROBATION OFFICER, JUVENILE COURT', "SHERIFF'S SERGEANT",
       'ASSISTANT INSPECTOR (POLICE DEPARTMENT)',
       'DIAGNOSTIC IMAGING TECH II', 'DIAGNOSTIC IMAGING TECH III',
       'CHIEF ADULT PROBATION OFFICER', 'MANAGER VI',
       'FIRE SAFETY INSPECTOR II', 'MAINTENANCE MACHINIST',
       'ASSISTANT INSPECTOR III (POLICE DEPARTMENT)',
       'DEPUTY DIRECTOR I - MUNICIPAL TRANSPORTATION AGE',
       'DIRECTOR, EMPLOYEE RELATIONS DIVISION',
       'ASSISTANT CHIEF ATTORNEY I', 'TRAIN CONTROLLER',
       'PHYSICIAN ASSISTANT', 'PHYSICIAN SPECIALIST',
       'AUTOMOTIVE MECHANIC SUPERVISOR I', 'ATTORNEY (CIVIL/CRIMINAL)',
       'SERGEANT II (POLICE DEPARTMENT)', 'ELECTRICIAN',
       'NURSE PRACTITIONER',
       'MECHANICAL SHOP AND EQUIPMENT SUPERINTENDENT',
       'HEAD ATTORNEY, CIVIL AND CRIMINAL', 'PRINCIPAL CIVIL ENGINEER',
       'ASSOCIATE ENGINEER', 'PROJECT MANAGER IV', 'PILOT OF FIRE BOATS',
       'DEPARTMENT HEAD I', 'SENIOR ENGINEER', 'COURT EXECUTIVE OFFICER',
       'ENGINEER', 'ASSISTANT SHERIFF',
       'BUILDINGS AND GROUNDS MAINTENANCE SUPERINTENDENT',
       'ELECTRONIC MAINTENANCE TECHNICIAN ASSISTANT SUPERV',
       'CLINICAL PHARMACIST', 'DEPARTMENT HEAD II',
       'CLINICAL NURSE SPECIALIST', 'NURSE MIDWIFE',
       'ELECTRICAL TRANSIT MECHANIC SUPERVISOR I', 'MANAGER V',
       'ATTORNEY FOR THE PUBLIC ADMINISTRATOR', 'CHIEF DEPUTY SHERIFF',
       'SENIOR DEPUTY SHERIFF', 'PROJECT MANAGER III',
       'TRACK MAINTENANCE WORKER SUPERVISOR I', 'MAYORAL STAFF XVII',
       'MANAGER VII - MUNICIPAL TRANSPORTATION AGENCY',
       'HEATING AND VENTILATING INSPECTOR',
       'ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION',
       'DIRECTOR, INFORMATION TECHNOLOGY GROUP',
       'UTILITY PLUMBER SUPERVISOR II',
       'COMMUNICATIONS LINE WORKER SUPERVISOR II',
       'ASSISTANT INSPECTOR II (POLICE DEPARTMENT)', 'ASSESSOR',
       'MANAGER VIII - MUNICIPAL TRANSPORTATION AGENCY', 'MANAGER IV',
       'INSPECTOR, (POLICE DEPARTMENT)', 'IS ENGINEER - PRINCIPAL',
       'REGISTERED NURSE', 'SPECIAL NURSE',
       'INFORMATION SERVICES MANAGER', 'TRANSMISSION LINE SUPERVISOR I',
       'SUPERVISING PHARMACIST', 'SEWAGE TREATMENT PLANT SUPERINTENDENT',
       'TREASURER', 'SENIOR POWER GENERATION TECHNICIAN',
       'DEPUTY DIRECTOR II', "CHIEF DISTRICT ATTORNEY'S INVESTIGATOR",
       'LANDSCAPE ARCHITECTURAL ASSOCIATE II',
       'ARCHITECTURAL ASSOCIATE  I', 'LANDSCAPE ARCHITECT', 'ARCHITECT',
       'STATIONARY ENGINEER', 'PLUMBING INSPECTOR', 'AUTOMOTIVE MECHANIC',
       'CHIEF STATIONARY ENGINEER', 'SENIOR COURT STAFF ATTORNEY',
       'HEAD PARK PATROL OFFICER', 'UNDERSHERIFF',
       'ASSISTANT ELECTRONIC MAINTENANCE TECHNICIAN', "SHERIFF'S CAPTAIN",
       'MANAGER III', 'BOARD SECRETARY - MUNICIPAL TRANSPORTATION AGENC',
       'WATER CONSTRUCTION AND MAINTENANCE SUPERINTENDENT',
       'LIEUTENANT I, (POLICE DEPARTMENT)',
       'LIEUTENANT II (POLICE DEPARTMENT)', 'DIAGNOSTIC IMAGING TECH I',
       'MANAGER II - MUNICIPAL TRANSPORTATION AGENCY',
       'MANAGER VI - MUNICIPAL TRANSPORTATION AGENCY',
       'ATTORNEY, TAX COLLECTOR', 'COURT COMMISSIONER',
       'PRINCIPAL ADMINISTRATIVE ANALYST', 'SENIOR RADIO TECHNICIAN',
       'ADMINISTRATIVE ENGINEER', 'BUILDING INSPECTOR',
       'CHIEF WATER SERVICE INSPECTOR', 'POWER GENERATION SUPERVISOR',
       'TRANSIT OPERATOR', 'UTILITY PLUMBER SUPERVISOR I',
       'RADIOLOGIC TECHNOLOGIST SUPERVISOR', 'DENTIST',
       'BUILDING PLANS ENGINEER', 'INSPECTOR II, (POLICE DEPARTMENT)',
       'TELECOMMUNICATIONS TECHNICIAN SUPERVISOR',
       'SUPERVISING ELECTRONIC MAINTENANCE TECHNICIAN',
       'INSTITUTIONAL POLICE SERGEANT', 'TRANSIT POWER LINE SUPERVISOR I',
       'SENIOR COUNSELOR, JUVENILE HALL', 'COURT ADMINISTRATOR',
       'PLUMBER SUPERVISOR I', 'COURT COMPUTER SYSTEMS MANAGER',
       'SENIOR CONSTRUCTION INSPECTOR', 'CRIMINALIST III',
       'TRANSIT POWER LINE WORKER', 'SEWER REPAIR SUPERVISOR',
       'SENIOR LIGHT RAIL VEHICLE EQUIPMENT ENGINEER',
       'TRANSMISSION AND DISTRIBUTION LINE WORKER', 'MANAGER II',
       'ARCHITECTURAL ASSOCIATE II',
       'AUTOMOTIVE TRANSIT SHOP SUPERVISOR I',
       'MANAGER V - MUNICIPAL TRANSPORTATION AGENCY',
       'IS PROJECT DIRECTOR', 'TRANSIT CAR CLEANER',
       'CHIEF STATIONARY ENGINEER, WATER TREATMENT PLANT', 'PLUMBER',
       'DISABILITY ACCESS COORDINATOR',
       'AUTOMOTIVE MECHANIC ASSISTANT SUPERVISOR',
       'AUTOMOTIVE MACHINIST ASSISTANT SUPERVISOR', 'LAW LIBRARIAN',
       'PROJECT MANAGER II', 'SENIOR STATIONARY ENGINEER',
       'TRANSIT POWER LINE WORKER SUPERVISOR II',
       'ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN',
       'IS BUSINESS ANALYST - PRINCIPAL',
       'POWER GENERATION TECHNICIAN II', 'CABLE SPLICER',
       'CONSTRUCTION INSPECTOR', 'IS ENGINEER - SENIOR', 'PLANNER V',
       'CRIME LABORATORY MANAGER', 'SHEET METAL WORKER SUPERVISOR II',
       'COMMUNICATIONS SYSTEMS TECHNICIAN', 'IS ENGINEER - JOURNEY',
       'SUPERINTENDENT OF WATER TREATMENT FACILITIES',
       'STATION AGENT, MUNICIPAL RAILWAY', 'STRUCTURAL ENGINEER',
       'PUBLIC HEALTH NURSE', 'COURT STAFF ATTORNEY II',
       'HEAD AIRPORT ELECTRICIAN',
       'ASSISTANT DIRECTOR OF CLINICAL SERVICES II',
       'FIRE PROTECTION ENGINEER', 'SPECIAL ASSISTANT XVI',
       'ASSISTANT DEPUTY DIRECTOR, PORT', 'FIRE RESCUE PARAMEDIC',
       'DIRECTOR, FISCAL SERVICES', "DISTRICT ATTORNEY'S INVESTIGATOR",
       'TRANSIT PAINT SHOP SUPERVISOR I', 'ELECTRICIAN SUPERVISOR II',
       "PRINCIPAL DISTRICT ATTORNEY'S INVESTIGATOR",
       'BUILDINGS AND GROUNDS MAINTENANCE SUPERVISOR',
       'SENIOR WATER SERVICE INSPECTOR', 'IS BUSINESS ANALYST - SENIOR',
       'MAINTENANCE CONTROLLER', 'ELECTRICIAN SUPERVISOR I',
       'MANAGER, EMPLOYEE RELATIONS DIV', 'TRAFFIC HEARING OFFICER',
       'ASSISTANT ENGINEER', 'LANDSCAPE ARCHITECTURAL ASSOCIATE I',
       'CHIEF BUILDING INSPECTOR', 'MAINTENANCE MACHINIST SUPERVISOR I',
       'MANAGER IV - MUNICIPAL TRANSPORTATION AGENCY', 'UTILITY PLUMBER',
       'SENIOR ELECTRICAL INSPECTOR', 'ELECTRICAL INSPECTOR',
       'SENIOR STATIONARY ENGINEER, WATER TREATMENT PLANT',
       'COMMUNICATION LINE SUPERVISOR I', 'ELECTRICAL LINE WORKER',
       'MAYORAL STAFF XVI', 'AIRPORT MECHANICAL MAINTENANCE SUPERVISOR',
       'COURT REPORTER COORDINATOR', 'CHIEF PLUMBING INSPECTOR',
       'OPERATING ROOM NURSE', 'WELDER',
       'MENTAL HEALTH TREATMENT SPECIALIST',
       'TRANSPORTATION SAFETY SPECIALIST',
       'SENIOR POLICE COMMUNICATIONS DISPATCHER', 'UTILITY SPECIALIST',
       'CEMENT FINISHER SUPERVISOR II',
       'ASSISTANT COURT REPORTER COORDINATOR',
       'PRINCIPAL REAL PROPERTY OFFICER', 'RESEARCH PSYCHOLOGIST',
       'LOCKSMITH SUPERVISOR I', 'SUPERVISING CHEMIST',
       'SENIOR PLUMBING INSPECTOR', 'OPERATING ENGINEER, UNIVERSAL',
       'LABORATORY SERVICES MANAGER', 'MANAGER I',
       'MANAGER, UNIFIED FAMILY COURT SERVICES',
       'DIRECTOR, HUMAN RESOURCES', 'SENIOR BUILDING INSPECTOR',
       'TRANSIT MANAGER II', 'PLANNER IV',
       'EMERGENCY MEDICAL SERVICES AGENCY SPECIALIST',
       'PUBLIC SAFETY COMMUNICATIONS DISPATCHER',
       'WATER OPERATIONS ANALYST', 'CHIEF ELECTRICAL INSPECTOR',
       'TRAFFIC SIGNAL ELECTRICIAN', 'AUTOMOTIVE BODY AND FENDER WORKER',
       'APPRENTICE STATIONARY ENGINEER',
       'AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I',
       'AUTOMOTIVE MACHINIST', 'SUPERVISING PURCHASER',
       'CHIEF STATIONARY ENGINEER, SEWAGE PLANT',
       'COURT COMPUTER FACILITIES COORDINATOR', 'PLUMBER SUPERVISOR II',
       'MANAGER III - MUNICIPAL TRANSPORTATION AGENCY',
       'CLAIMS INVESTIGATOR', 'STEAMFITTER',
       'PROTECTIVE SERVICES SUPERVISOR', 'CARPENTER SUPERVISOR I',
       'MAYORAL STAFF XV', 'COUNSELOR, LOG CABIN RANCH',
       'CHIEF HOUSING INSPECTOR', "MEDICAL EXAMINER'S INVESTIGATOR II",
       'DIRECTOR, JUVENILE HALL', 'IS PROGRAMMER ANALYST - PRINCIPAL',
       'TRAF SIGNAL ELECTRICIAN SUP II', 'IS ADMINISTRATOR III',
       "ASSISTANT CHIEF DISTRICT ATTORNEY'S INVESTIGATOR",
       'STEAMFITTER ASSISTANT SUPERVISOR',
       'SENIOR STATIONARY ENGINEER, SEWAGE PLANT', 'COURT REPORTER',
       'AIRPORT ELECTRICIAN', 'AIRPORT ELECTRICIAN SUPERVISOR',
       'COURT MANAGER', 'HEALTH PROGRAM COORDINATOR III',
       'SUPERVISING WASTEWATER CONTROL INSPECTOR',
       'TRAF SIGNAL ELECTRICIAN SUP I', 'LINE INSPECTOR',
       'PRINCIPAL ADMINISTRATIVE ANAYLST II', 'WATER SERVICE INSPECTOR',
       'PUBLIC RELATIONS MANAGER',
       'SENIOR ENVIRONMENTAL HEALTH INSPECTOR',
       'CONTRACT COMPLIANCE OFFICER II',
       'SENIOR INDUSTRIAL HYGIENIST DEPT OF PUBLIC HEALTH',
       'SAFETY OFFICER', 'AUTOMOTIVE MACHINIST SUPERVISOR I',
       'PLANNER IV-ENVIRONMENTAL REVIEW',
       'DIVISION DIRECTOR ADULT PROBATION', 'PROTECTIVE SERVICES WORKER',
       "MEDICAL EXAMINER'S INVESTIGATOR III", 'AUTOMOTIVE SERVICE WORKER',
       'DIRECTOR, PROBATE', 'IS ADMINISTRATOR - SUPERVISOR',
       'SENIOR HOUSING INSPECTOR', 'SEWER SERVICE WORKER',
       'STREET REPAIR SUPERVISOR II', 'ELECTRIC MOTOR REPAIRER',
       'COMMUNICATIONS DIRECTOR',
       'COURT COMPUTER APPLICATIONS PROGRAMMER',
       'DIAGNOSTIC IMAGING TECH IV', 'PROJECT MANAGER I',
       'ASPHALT FINISHER SUPERVISOR I', 'TRANSIT MANAGER I',
       'CRIMINALIST II', 'CHIEF MICROBIOLOGIST', 'CHIEF SURVEYOR',
       'SENIOR ADMINISTRATIVE ANALYST', 'PSYCHIATRIC TECHNICIAN',
       'SUPERVISING BIOLOGIST', 'AIRPORT OPERATIONS SUPERVISOR',
       'TRANSIT PLANNER IV', 'MEDIA/SECURITY SYSTEMS SUPERVISOR',
       "SENIOR DISTRICT ATTORNEY'S INVESTIGATOR",
       'PRINCIPAL PERSONNEL ANALYST', 'SENIOR PHYSICAL THERAPIST',
       'SENIOR OCCUPATIONAL THERAPIST', 'SHELTER VETERINARIAN',
       'CHIEF FIRE ALARM DISPATCHER', 'DEPUTY DIRECTOR I',
       'EXECUTIVE ASSISTANT TO THE GENERAL MANAGER, RETIRE',
       'AIRPORT ECONOMIC PLANNER', 'SWITCH REPAIRER',
       'POWER HOUSE ELECTRICIAN SUPERVISOR I', 'SAFETY ANALYST',
       'BIOLOGIST III', 'PARKING ENFORCEMENT ADMINISTRATOR',
       'PRINCIPAL ENVIRONMENTAL HEALTH INSPECTOR',
       'SENIOR EMPLOYEE RELATIONS REPRESENTATIVE', 'PAINTER SUPERVISOR I',
       'SENIOR SYSTEMS ACCOUNTANT', 'COUNSELOR, FAMILY COURT SERVICE',
       'GOVERNMENT AND PUBLIC AFFAIRS MANAGER',
       'ELECTRONIC INSTRUMENTATION TECHNICIAN,WTR PLTNCN',
       'CAR AND AUTO PAINTER',
       'PERFORMANCE ANALYST III - PROJECT MANAGER',
       'UTILITY PLUMBER APPRENTICE', 'PRINCIPAL MANAGEMENT ANALYST',
       'LOCKSMITH', 'SENIOR AIRPORT COMMUNICATIONS DISPATCHER',
       'SENIOR PROPERTY MANAGER, PORT',
       'HEAVY EQUIPMENT OPERATIONS SUPERVISOR', 'MAINTENANCE PLANNER',
       'SENIOR STREET INSPECTOR', 'SENIOR REAL PROPERTY OFFICER',
       'ASSISTANT DIRECTOR OF CLINICAL SERVICES I', 'TRUCK DRIVER',
       'DIRECTOR, PROBATION SERVICES', 'SENIOR CLAIMS INVESTIGATOR',
       'TRACK MAINTENANCE WORKER',
       'WATER AND POWER MAINTENANCE SUPERVISOR I',
       'ASSOCIATE AFFIRMATIVE ACTION COORDINATOR',
       'POLICE COMMUNICATIONS SHIFT SUPERVISOR',
       'STREET ENVIRONMENTAL SERVICES OPERATIONS SUPERVI',
       'ASSISTANT LAW LIBRARIAN', 'CEMENT FINISHER SUPERVISOR I',
       'SENIOR PLAN CHECKER',
       'STATIONARY ENGINEER, WATER TREATMENT PLANT',
       'MAINTENANCE MANAGER', 'CLERK', 'CRANE MECHANIC SUPERVISOR',
       'AIRPORT COMMUNICATIONS OPERATOR',
       'MANAGER I - MUNICIPAL TRANSPORTATION AGENCY',
       'SUPERVISING CLINICAL PSYCHOLOGIST', 'CHEMIST III',
       'ARCHITECTURAL ADMINISTRATOR', 'PRINCIPAL REAL PROPERTY APPRAISER',
       'GENERAL LABORER SUPERVISOR I', 'SUPERVISING PARTS STOREKEEPER',
       'CITY SHOPS ASSISTANT SUPERINTENDENT', 'INDUSTRIAL HYGIENIST',
       'HOUSING INSPECTOR', 'MATERIALS COORDINATOR',
       'PRINCIPAL PERSONAL PROPERTY AUDITOR',
       'STATIONARY ENGINEER, SEWAGE PLANT', 'LICENSED VOCATIONAL NURSE',
       'MARITIME MARKETING REPRESENTATIVE',
       'COURT COMPUTER SYSTEMS ENGINEER II',
       'COURT COMPUTER APPLICATIONS ANALYST',
       'SENIOR HUMAN RESOURCES ANALYST',
       'PRINCIPAL ENVIRONMENTAL SPECIALIST',
       'SUPERVISING ADULT PROBATION OFFICER',
       'SUPERVISING PROBATION OFFICER, JUVENILE COURT',
       'SUPERVISING AUDITOR', 'CLAIMS ADJUSTER',
       'ELEVATOR AND CRANE TECHNICIAN', 'COURT SUPERVISOR II',
       'MEMBER, BOARD OF SUPERVISORS', 'PARTS STOREKEEPER',
       'WATER CONSERVATION ADMINISTRATOR',
       'TRANSIT CAR CLEANER ASSISTANT SUPERVISOR',
       'SHEET METAL SUPERVISOR I', 'MAYORAL STAFF XIII',
       "SENIOR CLAIMS INVESTIGATOR,CITY ATTORNEY'S OFFICE",
       'SENIOR MAINTENANCE CONTROLLER', 'GLAZIER',
       'FISCAL SERVICES COORDINATOR', 'SECRETARY TO THE PRESIDING JUDGE',
       'HEALTH WORKER IV', 'POWER PLANT SUPERVISOR I',
       'OCCUPATIONAL THERAPIST', 'SURVEY ASSOCIATE',
       'AUTOMOTIVE SERVICE WORKER ASSISTANT SUPERVISOR',
       'SENIOR COMMUNITY DEVELOPMENT SPECIALIST I',
       'CHIEF VICTIM/WITNESS INVESTIGATOR',
       'MEDIA/SECURITY SYSTEMS SPECIALIST', 'MAYORAL STAFF XIV',
       'GENERAL LABORER', 'DEPUTY PROBATION OFFICER', 'CARPENTER',
       'PARK PATROL OFFICER',
       'EXECUTIVE DIRECTOR, SOUTHEAST COMMUNITY FACILITY',
       'PHYSICAL THERAPIST', 'SENIOR POWER HOUSE OPERATOR',
       'PARKING CONTROL OFFICER', 'SENIOR PERSONNEL ANALYST',
       'INSTITUTIONAL POLICE OFFICER', 'PHARMACY TECHNICIAN',
       'AUDIOLOGIST', 'ELIGIBILITY WORKER',
       'ASSISTANT SUPERINTENDENT RECREATION', 'SHEET METAL WORKER',
       'ASPHALT PLANT SUPERVISOR I', 'SENIOR ACCOUNT CLERK',
       'COURT INVESTIGATOR', 'STAGE ELECTRICIAN', 'SECURITY ANALYST',
       'PRINCIPAL PAYROLL AND PERSONNEL CLERK',
       'SENIOR COMMUNITY DEVELOPMENT SPECIALIST II',
       'TRAFFIC SIGN MANAGER', 'ELECTRIC MOTOR REPAIR SUPERVISOR I',
       'TRANSIT PLANNER III', 'REGULATORY SPECIALIST', 'PROBATE EXAMINER',
       'HOSPITAL ELIGIBILITY WORKER SUPERVISOR',
       'COURT ASSISTANT - SENIOR, SUPERIOR COURT',
       'MUNICIPAL STADIUM GROUNDSKEEPER', 'BRICKLAYER',
       'PLANNER III-ENVIRONMENTAL REVIEW',
       'ASSISTANT FORENSIC TOXICOLOGIST I',
       'FARE INSPECTIONS SUPERVISOR/INVESTIGATOR',
       'EMPLOYMENT AND TRAINING SPECIALIST VI', 'PIPE WELDER',
       'PARK SECTION SUPERVISOR', 'ENVIRONMENTAL HEALTH INSPECTOR',
       'PRINCIPAL FARE COLLECTIONS RECEIVER', 'AIRPORT SAFETY OFFICER',
       'MARRIAGE, FAMILY & CHILD COUNSELOR (MFCC)',
       'COORDINATOR OF CITIZEN INVOLVEMENT', 'TREE TOPPER SUPERVISOR I',
       'COURT INTERPRETER SUPERVISOR', 'SURGICAL PROCEDURES TECHNICIAN',
       'PLANNER III', 'MENTAL HEALTH REHABILITATION WORKER',
       'PATIENT ACCOUNTS SUPERVISOR', 'STREET INSPECTION SUPERVISOR',
       'COMMUNICATIONS DISPATCHER II', 'POWER HOUSE OPERATOR',
       'SENIOR MICROBIOLOGIST', 'IS ENGINEER - ASSISTANT',
       'ELECTRICAL LINE HELPER', 'ASSISTANT MATERIALS COORDINATOR',
       "WORKER'S COMPENSATION SUPERVISOR I",
       'ASSISTANT TO THE DIRECTOR, PUBLIC AFFAIRS       RS',
       'CLAIMS INVESTIGATOR CITY ATTORNEYS OFFICE', 'IS TRAINER - SENIOR',
       'SPEECH PATHOLOGIST', 'NURSING ASSISTANT',
       'COURT TRAINING SPECIALIST', 'ENGINEERING ASSOCIATE II',
       'CLINICAL PSYCHOLOGIST', 'IS BUSINESS ANALYST', 'GARDENER',
       'AIRPORT PROPERTY SPECIALIST I', 'BOARD/COMMISSION SECRETARY III',
       'BENEFITS SUPERVISOR', 'LEGISLATIVE ASSISTANT', 'CEMENT MASON',
       'LIBRARIAN III', 'REAL PROPERTY OFFICER',
       'ASSISTANT RENTAL MANAGER, PORT',
       'ORNAMENTAL IRON WORKER SUPERVISOR I', 'FUSION WELDER',
       'SUPERVISING WELFARE FRAUD INVESTIGATOR', 'TRAINING COORDINATOR',
       'PAINTER', 'SENIOR PARKING CONTROL OFFICER', 'SENIOR PURCHASER',
       'PROGRAM SUPPORT ANALYST', 'FOOD SERVICE MANAGER ADMINISTRATOR',
       'CONTRACT COMPLIANCE OFFICER I', 'MEDICAL SOCIAL WORK SUPERVISOR',
       'WATERSHED FORESTER MANAGER',
       'HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR',
       'ADMINISTRATIVE ANALYST III', 'MOBILE EQUIPMENT SUPERVISOR',
       'GENERAL UTILITY MECHANIC', 'ASSOCIATE AUDITOR',
       'COURT SUPERVISOR I',
       'APPRENTICE STATIONARY ENGINEER, SEWAGE PLANT',
       'TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY',
       'PATTERN MAKER',
       'EXECUTIVE ASSISTANT TO THE ADMINISTRATOR, S.F.G.H.',
       'IS PROGRAMMER ANALYST - SENIOR',
       'ASSISTANT CLERK, BOARD OF SUPERVISORS',
       'SENIOR REAL PROPERTY APPRAISER', 'EPIDEMIOLOGIST II',
       'ADMINISTRATIVE SERVICES MANAGER', 'PILEDRIVER SUPERVISOR I',
       'PERSONNEL PAYROLL REPRESENTATIVE', 'STREET INSPECTOR',
       'WASTEWATER CONTROL INSPECTOR', 'SENIOR PERSONAL PROPERTY AUDITOR',
       'BIOLOGIST I/II', 'SENIOR PSYCHIATRIC SOCIAL WORKER',
       'SENIOR HEALTH PROGRAM PLANNER', 'SENIOR ENVIRONMENT SPECIALIST',
       "SENIOR INVESTIGATOR, OFFICE OF CITIZEN'S COMPLAINT",
       'HEALTH CARE ANALYST', 'SENIOR PAYROLL AND PERSONNEL CLERK',
       'SECRETARY I', 'SOFT FLOOR COVERER SUPERVISOR',
       'APPRENTICE STATIONARY ENGINEER,WATER TREATMENT PLN',
       'SECRETARY, COMMISSION ON THE ENVIRONMENT',
       'PSYCHIATRIC SOCIAL WORKER',
       'MAINTENANCE MACHINIST ASSISTANT SUPERVISOR',
       'SENIOR SOCIAL WORKER', 'COORDINATOR, HUMAN RIGHTS COMMISSION',
       'SENIOR HEALTH EDUCATOR', 'CURATOR IV', 'COUNSELOR II',
       'MUSEUM SECURITY SUPERVISOR',
       'SUPERVISOR, TRAFFIC AND STREET SIGNS', 'SENIOR CLERK',
       'PRINCIPAL ACCOUNTANT', 'FEASIBILITY ANALYST, PORT',

**List 3 least common Jobs**

In [ ]:
sal["JobTitle"].value_counts().tail(3)

TRAFFIC HEARING OFFICER               1
ELECTRICAL ENGINEERING ASSOCIATE I    1
SENIOR MORGUE ATTENDANT               1
Name: JobTitle, dtype: int64

**How many people earned more than avg in 2012**

In [ ]:
sal[(sal.TotalPayBenefits>sal.TotalPayBenefits.mean()) & (sal.Year==2012)]['EmployeeName'].count()

0

902

**How many people have the word Manager in their job title?**

In [ ]:
def manager_func(x):
    if 'manager' in x.lower():
        return True
    else:
        return False
len(sal[sal.JobTitle.apply(lambda x:manager_func(x))])

902

**Take Id,EmployeeName,JobTitle,TotalPay and TotalPayBenefits columns with iloc and assign it as sal_new dataframe**

In [ ]:
sal_new=sal.iloc[:,[0,1,2,7,8]]
sal_new.head()

   Id       EmployeeName  ...   TotalPay  TotalPayBenefits
0   1     NATHANIEL FORD  ...  567595.43         567595.43
1   2       GARY JIMENEZ  ...  538909.28         538909.28
2   3     ALBERT PARDINI  ...  335279.91         335279.91
3   4  CHRISTOPHER CHONG  ...  332343.61         332343.61
4   5    PATRICK GARDNER  ...  326373.19         326373.19

[5 rows x 5 columns]

In [ ]:
sal_new

          Id         EmployeeName  ...   TotalPay  TotalPayBenefits
0          1       NATHANIEL FORD  ...  567595.43         567595.43
1          2         GARY JIMENEZ  ...  538909.28         538909.28
2          3       ALBERT PARDINI  ...  335279.91         335279.91
3          4    CHRISTOPHER CHONG  ...  332343.61         332343.61
4          5      PATRICK GARDNER  ...  326373.19         326373.19
...      ...                  ...  ...        ...               ...
19726  19727       JANICE DACASIN  ...   64071.58          64071.58
19727  19728  JULIET DELOS SANTOS  ...   64069.27          64069.27
19728  19729     MEGAN BRIZZOLARA  ...   64068.36          64068.36
19729  19730       JASIRI MSHAURI  ...   64064.65          64064.65
19730  19731        RICHARD SMITH  ...        NaN               NaN

[19731 rows x 5 columns]

**Take columns betweeen EmployeeName and TotalPayBenefits with loc and assign it o sal_new df**

In [ ]:
sal_new=sal_new.loc[:,'EmployeeName':'TotalPayBenefits']
sal_new.head()

        EmployeeName  ... TotalPayBenefits
0     NATHANIEL FORD  ...        567595.43
1       GARY JIMENEZ  ...        538909.28
2     ALBERT PARDINI  ...        335279.91
3  CHRISTOPHER CHONG  ...        332343.61
4    PATRICK GARDNER  ...        326373.19

[5 rows x 4 columns]

**Print out the names of the employees who earn more than min, but less than avg**

In [ ]:
sal[(sal.TotalPayBenefits>sal.TotalPayBenefits.min()) & 
       (sal.TotalPayBenefits<sal.TotalPayBenefits.mean())]['EmployeeName']

8298              KENNETH MA
8299          RICHARD TRUONG
8300         CURTIS MCMILLAN
8301           ROSE BALTAZAR
8302          STEPHEN SOLNIT
                ...
19724             FRANK KENT
19725         ELEAZAR MEDINA
19726         JANICE DACASIN
19727    JULIET DELOS SANTOS
19728       MEGAN BRIZZOLARA
Name: EmployeeName, Length: 11431, dtype: object